<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.eduservice.mapper.CommentMapper">

    <select id="pageQuery" parameterType="com.zheng.eduservice.entity.query.CommentQuery" resultType="com.zheng.eduservice.entity.chapter.CommentVo">
        select ct.*,ce.`title` as title  from `edu_comment` ct
        inner join `edu_course` ce on ce.id = ct.`course_id`

        <where>
            <if test="cq.coursetitle !=null and cq.coursetitle != ''">
                and ce.title like concat('%', #{cq.coursetitle}, '%')
            </if>
            <if test="cq.nickname != null">
                and ct.nickname = #{cq.nickname}
            </if>
            <if test="cq.begin != null">
                and ct.gmt_create &lt;= #{cq.begin}
            </if>
            <if test="cq.end != null">
                and ct.gmt_create &gt;= #{cq.end}
            </if>
        </where>
    </select>
</mapper>
